body {

    background-image: url("img_assets/bg_stars.jpg");

}

header{

    display: flex;

    flex-direction: column;

    align-items: center;

    

}



h1{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding: 10px;

    box-shadow: firebrick;
 
}

.orangeCard {
  
    display: flex;
    
    width: 200px;
    
    background-color: var(--comicOrange);

    border: solid;

    border-color: rgb(182, 144, 17);

}

#linkMsgBox {  /* maybe i should just tie this to the hero img somehow */

   display: flex;
   
    width: 300px;

    background-color: white;


    padding: 100px;

    text-align: center;

    a:hover {

        color: orange;

    }

    border-radius: 20%;

    align-items: center;

}

#linkMsgBox a {
    
    color: black;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size:x-large;

    text-decoration: none;

    text-align: center;

    

}


#hero {

    display: flex;

    flex-direction: column;

    align-items : center;

    margin-bottom: 175px;

}

.aboutMe  .orangeCard{
  
    display: flex;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: larger;
    
    width: 500px;
    
    background-color: var(--comicOrange);

    border: solid;

    border-color: rgb(182, 144, 17);

    padding: 50px;

    transform: rotate(10deg);

    height: max-content;

    

}

.aboutMe {

    display: flex;

    margin-top: 150px;

    flex-wrap: wrap-reverse;

    justify-content: space-evenly;

}


#edafo {

    display:inline-flex;

    margin-top: 50px;


}


.intro {

    display: flex;

    font-size: 24pt;
    
    color: rgb(0, 0, 0);

    background-color:rgb(247, 251, 243);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    flex-direction: column;

    justify-content: center;

    border: solid, rgba(249, 158, 2, 0.727);

    border-radius: 60px;

    margin-to


}

p.orangeCard {

    margin-bottom: 150px;

}

h2{

   
    align-self: center;

}

/* queries */

@Media screen and (max-width: 600px) {

   body {

        flex-direction: column;

        align-items: center;

   
    }

}





/* variables */

:root { 

    --comicOrange : rgb(231, 195, 51);

}

/* ids */

