body {

    background-image: url("img_assets/bg_stars.jpg");

}

header{

    display: flex;

    flex-direction: column;

    align-items: center;

    

}



h1{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding: 10px;

    box-shadow: firebrick;
 
}

.orangeCard {
  
    display: flex;
    
    background-color: var(--comicOrange);

    border: solid;

    border-color: rgb(182, 144, 17);

}

#linkMsgBox {  /* maybe i should just tie this to the hero img somehow */

   display: flex;
   
    width: 300px;

    background-color: white;


    padding: 100px;

    text-align: center;

    a:hover {

        color: orange;

    }

    border-radius: 20%;

    align-items: center;

}

#linkMsgBox a {
    
    color: black;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    font-size:x-large;

    text-decoration: none;

    text-align: center;

    

}


#hero {

    display: flex;

    flex-direction: column;

    align-items : center;

    margin-bottom: 175px;

}

.aboutMe  .orangeCard{
  
    display: flex;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: larger;
    
    width: 500px;
    
    background-color: var(--comicOrange);

    border: solid;

    border-color: rgb(182, 144, 17);

    padding: 50px;

    transform: rotate(10deg);

    height: max-content;

}


.aboutMe {

    display: flex;

    

    flex-wrap: wrap-reverse;

    justify-content: space-evenly;

    margin-bottom: 150px;

}


#edafo {

    display:inline-flex;

    margin-top: 50px;


}


.intro {

    display: flex;

    font-size: 24pt;
    
    color: rgb(0, 0, 0);

    background-color:rgb(247, 251, 243);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    flex-direction: column;

    justify-content: center;

    border: solid, rgba(249, 158, 2, 0.727);

    border-radius: 60px;



}

.aboutProjects .orangeCard {


    display: flex;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: larger;
    
    width: 500px;
    
    background-color: var(--comicOrange);

    border: solid;

    border-color: rgb(182, 144, 17);

    padding: 50px;

    transform: rotate(-10deg);

    height: max-content;



}

.aboutProjects{ 

    display: flex;

    margin-top: 100px;

    justify-content: space-evenly;

    margin-bottom: 150px;

    flex-wrap: wrap-reverse;

    align-items: center;


}

p.orangeCard {

    margin-bottom: 150px; 
    
    margin-top: 50px;

}

h2 , h3 {

   
    align-self: center;

}


#projectContainer {

    display: flex;

    flex-direction: column;

    margin-bottom: 100px;


}


.projectBox  {

    width: 500px;

    height: 100px;

    color:black;

    text-align: center;

    font-size: 24pt;
    
    border: solid;

    border-radius: 30px;

    line-height: 100px;

    vertical-align: middle;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    

}


#box1{

    background-color:rgb(184, 229, 234);

    padding-top: 150px;

    padding-bottom: 150px;

    justify-content: center;

    text-align: center;

    

}


#box1 img {

    width:300px;

    height:300px;

    align-self: center;

    position: absolute;

    margin-bottom: 80px;


}



#box2{

    background-color: rgb(253, 190, 190);

    justify-content: space-between;

}

#box3 {

    background-color: rgb(150, 176, 150);

}


#box1 p{

    margin-left: 30px;
}


button{

    display: flex;

    flex-direction: column;

    margin-bottom:50px;

}


#box1 strong {

   position:absolute;

   margin-top: 50px;;

   margin-left: 30px;


}

#box1 strong:hover,#box2 a:hover {

    color:orange

}

#box2 img {

    position:absolute;

    width:100px;

    margin-top: 15px;

    margin-left: 350px;

}

#box2 a{

    text-decoration: none;

    position:absolute;

    margin-left: 190px;

}




   



/* queries */

@Media screen and (max-width: 600px) {

   body {

        flex-direction: column;

        align-items: center;

   
    }

}





/* variables */

:root { 

    --comicOrange : rgb(231, 195, 51);

}

/* ids */

